:root{

    --text-color: lightgray;
    --card-bg: grey;
    --main: rgb(189, 18, 18);

}
html{
    height:100%;
}

 body{
    /* background-color: rgb(243, 200, 136); */
    background-color: darkgrey;
    /* background-image: url(https://img.freepik.com/free-photo/old-black-background-grunge-texture-dark-wallpaxper-blackboard-chalkboard-concrete_1258-82891.jpg?w=2000); */
  
}
header{
   
    color: var(--text-color)

}

h1{

    color: #882525;
    /* text-shadow: 50px 50px 80px rgb(227, 228, 163), 0 0 80px rgb(227, 223, 223); */
    font-size: 14rem;
    font-family: 'Monoton', cursive;
    /* padding: 20px; */
    /* margin: 20px 20px 15px 15px; */
}

h2{
    color: var(--text-color);
    align-items: baseline;
    /* margin: 5px 0px 0px 0px; */
    font-size: 25px;


}
nav{
    color: var(--text-color);
    text-align: center;
    font-size: 25px;
}

ul {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    

}


li {

    list-style: none;
    margin: 10px 20px 0px 0px;
    font-size: 25px;
 
}
a {

    text-decoration: none;
    /* color: white; */
    color: var(--text-color);
    font-size: 25px;


}

 /* div{

    display: flex;
    background-color: white;
    border: 5px dotted white;
    color: lightblue;
    /* width: 200px; */
    /* height: 10px; */


   /* box-shadow:
    inset 0 0 10px rgb(189, 18, 18),      
    inset 20px 0 50px grey,   
    inset -20px 0 50px white,  
    inset 20px 0 300px grey,  
    inset -20px 0 100px white, 
    0 0 10px #fff,            
    -10px 0 40px grey,        
    10px 0 40px lightgray;  

  */

h2 figure{

    text-align: left;
    margin: 0rem 0rem 0rem 10rem;
}


box{

    
    border-radius: 1rem;
    width: 600px;
    height: 250px;
    /* background-image: url(https://thumbs.dreamstime.com/b/white-chalk-over-blackboard-background-texture-diagonal-smudges-44396178.jpg;); */
    /* box-shadow: 2px 5px 10px 4px black; */
    margin: 2rem -2rem 2rem 0rem;

}

.boxes {
    display: flex;
    /* flex-basis: 200px; */
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content:center;
    /* margin: 0rem -5rem 0rem 0rem; */
    


}

#bigbox{

    margin: top 0rem;
    background-image: url("https://user-images.githubusercontent.com/119962472/213840952-5763aa1a-adc2-4ac9-85d9-f70df80b85ae.png");
    background-size: cover;
    width: 600px
}
article figure:hover{
    transform: translateY(-5rem);
    
}
 p{

    /* background-image: url(https://media.istockphoto.com/id/177787087/photo/old-vintage-scroll-isolated-on-white-background.jpg?s=612x612&w=0&k=20&c=9sQOHNbBhokeGNlNV3iStw0Pqeyx1H0oE5Hzs2CU004=); */
  

    text-align: center;
    margin: 5rem 10rem 5rem 10rem;
    font-size: 20px;
    color: lightgray;

}
img{

    /* float: right; */
    /* width: 300px; */
    background-color: bisque;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* justify-content: center; */
    color: var(--text-color);
    margin-top: 10px;
    
    
}
#fitness {

    background-image: url("https://user-images.githubusercontent.com/119962472/219132970-6d98f17f-d23a-4573-8ea9-c78ed4f29120.png");
    background-size: cover;
    width: 600px
}
