:root{

    --text-color: lightgray;
    --card-bg: grey;

}
html{
    height:100%;
}

 body{
    /* background-color: rgb(243, 200, 136); */
    background-color: white;
    background-image: url(https://img.freepik.com/free-photo/old-black-background-grunge-texture-dark-wallpaxper-blackboard-chalkboard-concrete_1258-82891.jpg?w=2000);
  
}
header{
   
    color: var(--text-color)

}

h1{

    color: rgb(189, 18, 18);
    text-shadow: 0 0 80px white, 0 0 80px white;
    font-size: 14rem;
    font-family:cursive; 
    /* padding: 20px; */
    /* margin: 20px 20px 15px 15px; */
}

h2{
    color: var(--text-color);
    align-items: baseline;
    margin: 5px 0px 0px 0px;


}
nav{
    color: var(--text-color);
    text-align: center;
}

ul {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    

}


li {

    list-style: none;
    margin: 10px 20px 0px 0px;
 
}
a {

    text-decoration: none;
    /* color: white; */
    color: var(--text-color);
    font-size: 35px;


}

 div{

    display: flex;
    background-color: white;
    border: 5px dotted white;
    color: lightblue;
    /* width: 200px; */
    height: 10px;


    box-shadow:
    inset 0 0 10px rgb(189, 18, 18),      
    inset 20px 0 50px grey,   
    inset -20px 0 50px white,  
    inset 20px 0 300px grey,  
    inset -20px 0 100px white, 
    0 0 10px #fff,            
    -10px 0 40px grey,        
    10px 0 40px lightgray;  

} 

h2 figure{

    text-align: left;
    margin: 0rem 0rem 0rem 10rem;
}


figure{

    
    border-radius: 1rem;
    width: 600px;
    height: 250px;
    background-image: url(https://thumbs.dreamstime.com/b/white-chalk-over-blackboard-background-texture-diagonal-smudges-44396178.jpg;);
    /* box-shadow: 2px 5px 10px 4px black; */
    margin: 2rem -2rem 2rem 0rem;

}

.boxes {
    display: flex;
    /* flex-basis: 200px; */
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content:center;
    /* margin: 0rem -5rem 0rem 0rem; */
    


}

#bigbox{

    width: 1000px;
    height: 400px;
    margin: top 0rem;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUMD7IxwB8Vbfstg6P0y5kOhQ9xrWPkJUt_6BiVjn9wF9xuKwEG6ygUlF5z8d_Q6aK_mI&usqp=CAU);
}
article figure:hover{
    transform: translateY(-5rem);
    
}
 p{

    /* background-image: url(https://media.istockphoto.com/id/177787087/photo/old-vintage-scroll-isolated-on-white-background.jpg?s=612x612&w=0&k=20&c=9sQOHNbBhokeGNlNV3iStw0Pqeyx1H0oE5Hzs2CU004=); */
  

    text-align: center;
    margin: 5rem 10rem 5rem 10rem;
    font-size: 20px;
    color: lightgray;

}
img{

    float: right;
    width: 300px;
    background-color: bisque;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* justify-content: center; */
    color: var(--text-color);
    margin: 10px 20px 5px 5px ;
    
}
