:root{

    --text-color: #11EDED;
    --card-bg: #FEFE3E;

}
html{
    height:100%;
}

 body{
    /* background-image: url(https://img.freepik.com/free-photo/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-concrete_1258-82891.jpg?w=2000); */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: opacity(.3); */
}
header{
    /* color: var(--text-color); */
    display: flex;
    flex-wrap: ;

}
section div{

    display: inline-flex;
    flex-wrap: wrap;
    width: 250px;
    height: 500px;
    border-radius: 1rem;  
    box-shadow: 2px 5px 10px 4px black;
    margin:0rem -5rem 0rem 0rem;
    /* padding: 2rem; */


}
.card{
    background-color:var(--card-bg);
    background-image: url(https://thumbs.dreamstime.com/b/white-chalk-over-blackboard-background-texture-diagonal-smudges-44396178.jpg;);
   color: white;

}
#cards {
    width: 300px;
    /* background-color:var(--card-bg); */
   margin-left: 50px;
    /* background-color: aqua; */
    background-image: url(https://thumbs.dreamstime.com/b/white-chalk-over-blackboard-background-texture-diagonal-smudges-44396178.jpg);
    /* height: 100%; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    color: white;
    
}
.card:hover{
    transform: translateY(-5rem);
}
#cards:hover{
    transform: translateY(-5rem);
}